@model IEnumerable<ADRISTORE.BE.Cliente>

@{
    ViewBag.Title = "Clientes";
    Layout = "~/Views/_MasterPage.cshtml";
}

<h4>Usuarios</h4>




<script>
    function Agregar() {
        window.location.href = "/@ViewBag.Controlador/PrepararAgregar";
    }


</script>
