
@{
    ViewBag.Title = "AccesoDenegado";
    Layout = "~/Views/_MasterPage.cshtml";
}

<h2>Sesión no iniciada</h2>

<div>
    <p style="color:red;">Permisos insuficientes. Por favor inicie sesión</p>
    <a href="~/Usuarios/Login">Login</a>

</div>

