<h2>Contact Editor</h2>

    <div>
        <table>
            <tr>
                <td><label>First Name:</label></td>
                <td><input type="text" id="txtFirstName" [(ngModel)]="model.firstName" /></td>
            </tr>
            <tr>
                <td><label>Last Name:</label></td>
                <td><input type="text" id="txtLastName" [(ngModel)]="model.lastName" /></td>
            </tr>
            <tr>
                <td><label>Phone Number:</label></td>
                <td><input type="number" id="txtPhoneNumber" [(ngModel)]="model.phoneNumber" /></td>
            </tr>
            <tr>
                <td><button (click)="save()">Save</button></td>
                <td><button (click)="cancel()">Cancel</button></td>
            </tr>
        </table>
        <p style="color:red" *ngIf="errors.length>0">Please fix:</p>
        <ul style="color:red">
            <li *ngFor="let error of errors">{{error}}</li>
        </ul>
    </div>
    
